body {
    background-color: rgb(30, 30, 30);
}

ul#Secciones {
    list-style: none;
    /* text-align: center; */
    padding: 0;
}

ul li a {
    /* display: grid; */
    list-style: none;
    text-decoration: none;
    margin: 0;
    color: rgb(226, 92, 22);
    text-shadow: 1px 1px 2px rgb(214, 104, 0);
}

 ul li a:link {
    text-decoration: none;
    color: rgb(226, 92, 22);
    text-shadow: 1px 1px 2px rgb(226, 92, 10);
}

ul li a:hover {
    text-shadow: 1px 1px 2px black;
}

.grilla1{
    background-color: black;
    display: grid;
    grid-template-areas: 
    "Areaimg  AreaSecc";

    grid-template-columns: 20% auto;
}

#Secc{
    grid-area: AreaSecc;
}

#div-logo {
    margin: auto;
    z-index: 100;
    position: relative;
    grid-area: Areaimg;
}

#inicio {
    background-image: url("../Imagenes/IronBoxingClub.jpg");
    background-position: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    height: auto;
    /* position: relative; */
    grid-area: ImgPrinc;
}

#inicio:hover {
    transform: scale(1.01);
    filter: grayscale(70%);
    transition: all 0.3s ease;
}

#inicio h1 {
    visibility: hidden;
}

#inicio:hover h1 {
    visibility: visible;
    position: absolute;
    z-index: 6;
    display: block;
    color: white;
    font-weight: bold;
    background-color: gray;
}

#div-contacto {
    background-color: rgb(226, 92, 22);
    grid-area: Contacto;
    padding-left: 3%;
}
#div-mapa {
    grid-area: Mapa;
}


.formulario p {
    color: rgb(44, 31, 27);
    display: flex;
    margin-left: 4%;
}

.formulario p label {
    color: rgb(44, 31, 27);
    display: flex;
    align-items: center;
}

.formulario p input {
    width: 70%;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    width: 90%;
    margin-right: 5px;
    resize: none;
}

.formulario input[type="submit"] {
    background: #2e64a1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    width: auto;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.formulario input[type="submit"]:hover {
    background-color: #6da9ed;
}

.carousel-item {
    width: 100%;
}

table th, td{
    color: rgb(226, 92, 22);
}

/* td {
    color: rgb(226, 92, 22);
} */

.imgredonda {
    border-radius: 50%;
}

#titulosecc2 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;

}

#cuerposecc2{
    margin: 0;
    padding: 10%;
    padding-top:0;
}



#titulosecc2{grid-area: Titulo;}
#Profe1{grid-area: P1;}
#Profe2{grid-area: P2;}
#Profe3{grid-area: P3;}
#Profe4{grid-area: P4;}
#Profe5{grid-area: P5;}
#Profe6{grid-area: P6;}
#Profe7{grid-area: P7;}
#Profe8{grid-area: P8;}
#Profe9{grid-area: P9;}



.descequipos {
    padding: 10%;
    color: white;
}

.grillaprofes {
    margin-top: 10%;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}
.grillaprofes div{
    text-align: center;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}


 @media screen and (min-width:200px){
    #grillainicio{
        display: grid;
        grid-template-areas:
        
        "ImgPrinc ImgPrinc"
        "Mapa     Mapa"
        "Contacto Contacto";

        grid-template-columns: auto ;
        grid-template-rows:  200px auto;
    }

    .grilla1{
        grid-template-rows: 45px;
    }

    .grillaprofes{
        display: grid;
        grid-template-areas:
        "Titulo"
        "P1" 
        "P2"
        "P3"
        "P4" 
        "P5"
        "P6"
        "P7" 
        "P8" 
        "P9" ;
        grid-column: 100%;
        grid-template-rows:auto;
    }

    ul#Secciones {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
    }

    ul#Secciones li {
        float: left;
        text-align: center;
    }

    ul#Secciones li a {
        margin-left: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 10px;
    }

    #inicio:hover h1 {
        bottom: 4em;
        left: 1.4em;
    }

    .formulario p label {
        min-width: 80px;
    }

    .formulario textarea {
        height: 50px;
    }

    .formulario input[type="submit"] {
        font-size: 8px;
        padding: 2px 8px;
        left: 5rem;
    }

    .carousel-item {
        height: 200px;
    }

    table th, td{
        font-size: 6px;
        text-align: center;
    }


    .imgredonda {
        height: 150px;
        width: 150px;
        margin: 3px;
    }
    .container{
        margin-top: 15%;
    }
    .container .imgredonda {
        height: 120px;
        width: 120px;
        margin: 3px;
    }

    .descequipos {
        font-size: 12px;
        margin: 3px;
    }

    #div-logo img{
        width: 75px;
        
    } 

    #titulosecc2 {
        margin: 2px;
    }

    footer {
        height: 30px;
        padding-top: 5px;
        margin: 5px;
        font-size: 9px;
    }

}


@media screen and (min-width:900px) {


    /* CSS Para computadora */
    
    .grilla1{
        grid-template-rows: 120px;
    }

    #grillainicio{
        display: grid;
        grid-template-areas:
        
        "ImgPrinc ImgPrinc"
        "Mapa     Contacto";

        grid-template-columns: auto 35%;
        grid-template-rows:  700px auto;
    }

    .grillaprofes{
        display: grid;
        grid-template-areas:
        "Titulo Titulo Titulo"
        "P1 P2 P3"
        "P4 P5 P6"
        "P7 P8 P9" ;

        grid-column: 33% 33% 33%;
        grid-template-rows: 40px 450px;
    }
    
    ul#Secciones {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    ul#Secciones li {
        float: left;
        text-align: center;
    }

    ul#Secciones li a {
        padding: 5px 15px 5px 15px;
        font-size: 30px;
    }

    #div-logo img{
        width: 200px;
        margin: 1%;
    }

    #inicio:hover h1 {
        bottom: 4em;
        left: 1.4em;
    }

    .formulario p {
        display: flex;
    }

    .formulario p label {
        min-width: 80px;
    }

    .formulario textarea {
        height: 100px;
    }

    .formulario input[type="submit"] {
        font-size: 16px;
        padding: 6px 20px;
        left: 5rem;
    }

    .carousel-item {
        height: 700px;
    }

    .imgredonda {
        height: 250px;
        width: 250px;
        margin: 7px;

    }

    .container{
        margin-top: 5%;
    }
    .container .imgredonda {
        height: 250px;
        width: 250px;
        margin: 3px;
    }

    .descequipos {
        font-size: 25px;
        margin: 3px;
    }

    table th, td{
        font-size: 20px;
        text-align: center;
    }

    #titulosecc2 {
        margin: 10px;
    }

    footer {
        height: 40px;
        padding-top: 10px;
        margin: 5px;
        font-size: 15px;
    }


    /* CSS Para computadora */
}